/* Estilos General*/
body{
    margin: 0;
}
a{
    text-decoration: none;
    text-align: center;
}
/* Estilos Header Sin Sesión*/
#barraSinSesion{

    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;

}
#opcionesSinIniciar{

    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;

}
#opcionesSinIniciar p{

    color: white;

}
/*Estilos Header Con Sesión*/
#barraConSesion{

    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.5fr;

}
#opcionesIniciado{

    margin-top: 15%;
    margin-right: 10%;

}
#opcionesIniciado p{

    color: white;

}
#opcionesIniciado img{

    width: 50px;

}
#opcionesUser{

    background-color: white;
    border-radius: 25px 25px 25px 25px;
    display: none;
    z-index: 1;
    position: relative;
    width: 150px;
    height: 90px;
    left: 1500px;
    bottom: 20px;
}
#opcionesUser h3{

   color: black;
}
#opcionMarket{

    float: left;
    padding: 5px;
    cursor: pointer;

}
#opcionUser{

    float: left;
    padding: 5px;

}
#circuloCarrito{

    width: 20px;
    background-color: coral;
    border-radius: 25px 25px 25px 25px;
    z-index: 1;
    position: relative;
    bottom: 75px;
    left: 40px;
}
#numeroProductos{

    color: white;
    text-align: center;

}
#productos{

    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}
#producto{

    margin: auto;
    width: 350px;
    height: 300px;
    background-color: orange;

}
#producto img{

    padding: 20px;
    width: 100px;
    display: block;
    margin: auto;

}
#producto h1{

    text-align: center;
    color: white;
    font-family: "Book Antiqua";
}
#market{

    display: none;
    width: 30%;
    background-color: white;
    z-index: 2;
    right: 1px;
    position: absolute;
    height: 100%;

}
#atrasMarket{

    width: 20%;
    height: 10%;
    cursor: pointer;

}
#atrasMarket img{

    width: 80%;
    padding-left: 10px;
    padding-top: 10px;


}
/*Header*/
#headerSesion{

    background-color: #FDCD6C;
    color: white;

}
#headerSesion a {

    color: white;

}
#busquedaFnac{

    display: block;
    width: 70%;
    height: 30px;
    text-align: center;

}
#botones{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;

}
#busqueda{

    margin-top: 5%;

}
#lupa{

    display: block;
    width: 25px;

}
#imagenLupa{

    width: 25px;
    height: 25px;
    float: left;
    padding: 5px;

}
#logo{

    width: auto;
    margin-left: 15%;

}
#logo img{

    width: 100px;

}
/*Inicio Sesión*/
h1{
    text-align: center;
    font-size: larger;
    font-family: Arial;
}
input{

    display: block;
    margin: auto;

}
button{

    display: block;
    margin: auto;

}
#formularioRegistro{

    display: block;
    margin: auto;
    width: 60%;

}
#formularioRegistro p {

    font-size: 50px;
    text-align: center;

}
#formularioRegistro h2{

    text-align: center;

}
#formularioRegistro h4{

    text-align: center;
    color: black;

}
#formularioGrid{

    margin: auto;
    width: 30%;

}
#listaProductosUsuario{

    display: grid;
    grid-template-columns: auto auto;
    background-color: bisque;
    width: 80%;
    margin: auto;
    padding-top: 30px;

}
#market h1{

    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 30px;

}
#cajaImagenProducto{

    border: 1px solid black;
    width: 90%;

}
#cajaImagenProducto img{

    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    padding-top: 40px;

}
#tituloMarket{

    padding-bottom: 20px;

}
#cajaInfoProducto{

    color: black;

}
#contenedorImgBoton{

    display: grid;
    grid-template-rows: auto auto;

}
#botonesMarket button{

    display: block;
    float: right;
    width: 50px;
    height: 40px;
    padding: 5px;

}
#botonesMarket{

    margin: auto;

}
#cajaInfoProducto p{

    font-family: Calibri;
    color: grey;

}
#productosDelCarrito{

    display: grid;
    grid-template-columns: auto;
    height: 500px;

}
#productosDelCarrito{

    display: grid;
    grid-template-columns: auto;
    overflow-y: scroll;
}
#EditarCarrito{

    margin: auto;
    width: 50%;
    height: 60px;
    background-color: #FDCD6C;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px 25px 25px 25px;

}
